// Get all of Bulma's utility helpers.
@import "~bulma/sass/utilities/_all";

// Get all of Bulma's base styles.
@import "~bulma/sass/base/_all";

// Get a subset of Bulma's grid styles
@import "~bulma/sass/grid/columns";

// Get a subset of Bulma's element styles.
@import "~bulma/sass/elements/form";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/table";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/container";

// Get a subset of Bulma's component styles.
@import "~bulma/sass/components/message";
@import "~bulma/sass/components/level";

// Import buefy styling
@import "~buefy/lib/buefy.css";

// Custom styles for datatable
.table {

	&.is-sortable {

		th {

			span {
				cursor:pointer
			}
		}
	}
}

.arrow {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	margin-left: 5px;
	opactiy: .6;

	&--asc {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-bottom: 4px solid #222;
	}

	&--desc {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #222;
	}
}

// Custom horizontal divider
.divider {
	border-top: 1px solid rgba(34 ,36, 38, .15);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	height: 0;
	margin: 1rem 0;

	&--relaxed {
		margin: 2rem 0;
	}
}

// Flex helpers
.self {
	&-end {
		align-self: flex-end;
	}
}

// Spacing utilities
.mt {
	&-0 {
		margin-top: 0 !important;
	}

	&-4 {
		margin-top: 1rem;
	}
}

.ml {
	&-auto {
		margin-left: auto;
	}

	&-4 {
		margin-left: 1rem;
	}
}