// Get all of Bulma's utility helpers.
@import "~bulma/sass/utilities/_all";

// Get all of Bulma's base styles.
@import "~bulma/sass/base/_all";

// Get a subset of Bulma's grid styles
@import "~bulma/sass/grid/columns";

// Get a subset of Bulma's element styles.
@import "~bulma/sass/elements/form";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/table";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/container";

// Get a subset of Bulma's component styles.
@import "~bulma/sass/components/message";
@import "~bulma/sass/components/level";

// Import buefy styling
@import "~buefy/dist/buefy.css";

// Any component wrapped in v-cloak before the component has loaded
[v-cloak] {
	display: none;
}

// Custom horizontal divider
.divider {
	border-top: 1px solid rgba(34 ,36, 38, .15);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	height: 0;
	margin: 1rem 0;

	&--relaxed {
		margin: 2rem 0;
	}
}

// upload file component styling
$dragndrop-min-height: 200px;

.dragndrop {
	width: 100%;
	min-height: $dragndrop-min-height;
	background-color: #F8F8F8;
	position: relative;
	border: 3px dashed rgba(0, 0, 0, .2);

	&--dragged {
		border-color: #333;
	}
}

.dragndrop__input {
	display: none;
}

.dragndrop__header {
	display: block;
	font-size: 1.1em;
	color: #555;
	vertical-align: middle;
	text-align: center;
	margin: ($dragndrop-min-height / 2) 20px;

	&--compact {
		margin: ($dragndrop-min-height / 4) 20px;
	}

	&:hover {
		text-decoratiom: underline;
		cursor: pointer;
	} 
}

.dragndrop__file {
	margin: 20px;
	margin-top: 0;
	font-size: .9em;
	position: relative;
}

.dragndrop__status {
	text-align: center;
	padding: 20px;
}

.progress {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	border-radius: 3px;
	background-color: #F5F5F5;
	height: 35px;
}

.progress__label,
.progress__percentage {
	position: absolute;
	color: #333;
	top: 50%;
	transform: translate(0, -50%);
	margin-left: 10px;
}

.progress__percentage {
	right: 0;
	margin-right: 10px;
}

.progress__fill {
	box-sizing: border-box;
	position: 10px;
	border-radius: 3px;
	background-color: #209cee;
	height: 100%;
	box-shadow: inset 0 -1px rgba(0, 0, 0, .15);
	transition: width 500ms ease;
	opacity: .6;
}

.progress__fill--failed {
	transition: none;
	width: 100% !important;
	background-color: #ff3860;
}

.progress__fill--finished {
	opacity: 1;
}

.progress__cancel,
.progress__error {
	position: absolute;
}

.list-inline__item {
	display: inline;
	margin-right: 20px;
}

.list-inline__item--last {
	margin-right: 0;
}

.content .entry {
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	.embed-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
	}

	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// Flex helpers
.self {
	&-end {
		align-self: flex-end;
	}
}

.items {
	&-center {
		align-items: center;
	}
}

// Spacing utilities
.mt {
	&-0 {
		margin-top: 0 !important;
	}

	&-2 {
		margin-top: .5rem;
	}

	&-4 {
		margin-top: 1rem;
	}

	&-6 {
		margin-top: 1.5rem;
	}

	&-8 {
		margin-top: 2rem !important;
	}

	&-16 {
		margin-top: 4rem !important;
	}
}

.mb {
	&-0 {
		margin-bottom: 0 !important;
	}

	&-0 {
		margin-bottom: .5rem !important;
	}

	&-4 {
		margin-bottom: 1rem !important;
	}

	&-6 {
		margin-bottom: 1.5rem !important;
	}

	&-8 {
		margin-bottom: 2rem !important;
	}

	&-16 {
		margin-bottom: 4rem !important;
	}
}

.ml {
	&-auto {
		margin-left: auto;
	}

	&-4 {
		margin-left: 1rem;
	}
}

.mr {
	&-2 {
		margin-right: .5rem;
	}

	&-4 {
		margin-right: 1rem;
	}
}

.p {
	&-2 {
		padding: .5rem;
	}

	&-4 {
		padding: 1rem;
	}
}

// Width utilities
.is-full-width {
	width: 100% !important;
}

// Box shadow utilities
.has-box-shadow {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.1)
}

// Typography helpers
.has-underline-none {
	text-decoration: none !important;
}